<p class="error" *ngIf="errorMessage">
  {{ errorMessage }}
</p>

<div class="trip-details" *ngIf="trip">
  <img [src]="trip.image" [alt]="trip.name">

  <div class="content">
    <h2>{{ trip.name }}</h2>

    <p><strong>יעד:</strong> {{ trip.destination }}</p>
    <p><strong>תאריך:</strong> {{ trip.date }}</p>
    <p><strong>מחיר:</strong> {{ trip.price }} ₪</p>
    <p><strong>תיאור:</strong> {{ trip.description }}</p>

    <button routerLink="/home/trips-all">חזרה לכל הטיולים</button>
  </div>
</div>